@media print {
    table, table th,table td {
        text-align: center;
    }
    
    .no-print {
        display: none !important;
    }
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right !important;
}